body {
  overflow-x: hidden;
  font-family: 'Julius Sans One', sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

 ::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

header {
      width: 100%;
      height: 100vh;
      background: grey no-repeat 50% 50%;
      background-size: cover;
}

 
.logo {
      line-height: 60px;
      float: left;
      margin: 16px 46px;
      color: #fbbc05;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 35px;
      letter-spacing: 2px;
}

.logo img{
      width: 10%;
      height: 10%;
      border-radius: 20%;
}
 
nav { 
      width: 100%;
      line-height: 60px;
      transition: 1s;
     
}
 
nav ul {
      line-height: 40px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
}
nav ul li a {
  color: #fbbc05;
  font-size: 16px;  
}
nav.black {
      background: #fff;
       -webkit-box-shadow: 0 8px 6px -6px #999;
      -moz-box-shadow: 0 8px 6px -6px #999;
      box-shadow: 0 8px 6px -6px #999;
}
nav ul li:hover {
  display: inline-block;
  padding: 16px 25px;
  background-color: #fbbc05;
}
nav ul li a, nav.black ul li a{
      color: #fbbc05;      
      list-style: none;
}
nav ul li a:hover,  nav.black ul li a:hover{
  color: #fff;      
  text-decoration: none;
}
 
nav ul li {
      display: inline-block;
      padding: 16px 25px;
}
.banner-w3l {
    background: url(../images/bg2.jpg) no-repeat right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    max-height: 800px;
    min-height: 200px;
}

.banner-left-wthree {
      text-align: center;
    padding-top: 15em;
    max-width: 100%;
}

.banner-left-wthree h3 {
    font-size: 70px;
    letter-spacing: 1px;
    color: #fff;
}

.banner-left-wthree h5 {
    font-size: 35px;
    letter-spacing: 2px;
    color: #fff;
}

.banner-left-wthree p {
      padding-top: 10px;
    color: #e8e8e8;
    font-size: 20px;
}

a.btn {
    background: #FCBD0F;
    color: #fff;
    letter-spacing: 1px;
    margin-top:20px;
    padding: 10px 23px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

a.btn:hover {
    background: #F44336;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}


.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
 
@media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
      }
 
      nav.black ul {
            background: #000;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }
 
}

/*************
  Clients
*************/
#clients .name{
  text-align: center;
  font-weight: bold;
  font-size: 17px;  
  color: #fbbc05;
}

/*************
 What We Do
*************/
#about {
  background: grey;
  text-align: center;
}
#about h1 {
  padding: 11px;
}
#about #main.container {
  width: 100%;
  padding: 0px;
}
#about .left {
  background: #fbbc05;
  padding: 5vh 0vh;
  color: #fff;
  /* margin: auto; */
}
#about .right {
  /* background: grey; */
  margin: auto;
  padding: 5vh 10vh;
  color: #fff;
  font-family: 'Lato', sans-serif;  
}
#about .right p {
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  font-size: 19px;
}
#about .right ul {
  text-align: left;
  list-style-type: decimal;
  padding-top: 20px;
}
@media only screen and (min-width : 768px) {
  #service .box p{
      height: 110px;
  }
  #about .left {
    padding: 0vh;
  }
  #about .right {
    padding: 11vh;
  }
  #about #main.container {
    display: flex;
  }
}



/***********
  Works, Testimonial  
************/
#works h1, #test h1 {
  text-align: center;
  padding-top: 50px;
  color: #fbbc05;  
}
.sliderT {
  width: 80%;
  margin: 50px auto;
}
.slider {
  width: 50%;
  margin: 50px auto;
}

.slick-slide {
margin: 0px 20px;
}

#works .slick-slide img {
width: 100%;
}
#test .slick-slide img {
  width: 35%;
  }

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}

.slick-prev:before {
  color: #fbbc05 !important;
}
.slick-next:before {
  color: #fbbc05 !important;
}

#test .item{
  text-align: justify;
  font-family: 'Lato', sans-serif;  
  
}

/*************
 How We Do
*************/
#how {
  text-align: center;  
  padding: 50px 0px;
  background: grey;
}
#how h1{
  color: #fbbc05;
}
#how p {
  font-family: 'Lato', sans-serif;  
  font-size: 16px;
  color: #fff;  
}

/*************
 Contact
*************/
section#contact {
  background: #fff;
  font-family: 'Lato', sans-serif;    
}

#contact .form {
  background: grey;
  padding: 55px 25px 25px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.3); 
}
#icon .fa {
  width: 100%;
  font-size: 125px;
  margin: auto;
  text-align: center;
  color: #fbbc05;
}

#contact h2{
  color: #fbbc05;
  text-align: start;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  margin-bottom: 35px;
}
#contact fieldset {
  color: #fff;  
}


section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

/********* 
Footer
********/
hr {
  border-top: 1px solid grey;
}
#footer {
  color: #fbbc05;
}
#footer a img{
  height: 50px;
  margin: auto;
}